.blurb-container {
    height: 100%;
    width: 100%;
    display: flex;
    position:fixed;
    align-items: center;
    justify-content: center;
    text-align: center;
}

body {
    height: 100vh;
    margin: 0;
    font-family: Georgia, serif;
    text-align: center;
    background-color: #F4F2DD;
    display:block !important;
}

h1 {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 2.5em;
    color: #315E26;
}

h2 {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 1.5em;
    max-width: 600px;
    color: #315E26;
}

button {
    display: table;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #f3d9c6;
    color: #A15B20;
    border: none;
    font-family: Georgia, serif;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #dcb2a9;
}