.inline-box {
    display: inline-block;
    width: 300px;
    height: 300px;
    background-color: rgb(229, 205, 209);
    border: 2px dashed green;
    padding: 5px;
    margin: 5px;
}

body {
    background-color: #c1c265;
    margin: 30px;
    display:block !important;
}

h1 {
    font-size: 50px;
    color: #315E26;
    margin: 20px;
    font-family: "Times New Roman", Times, serif;
}

h2 {
    font-size: 35px;
    color: #315E26;
    /*margin: 20px;*/
    font-family: "Times New Roman", Times, serif;
}

p {
    font-size: 25px;
    color: #315E26;
    margin: 20px;
    font-family: "Times New Roman", Times, serif;
}


table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

.scroll {
    /*margin: 4px, 4px;
    margin-left: 20px;*/
    border-radius: 30px;
    border: 2px;
    padding: 20px;
    background-color: #e0e27aa2;
    width: 100%;
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
}
.bottom-buttons {
    bottom: 20px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.col1 {
    width: 10.5%;
    height: 60.5%;
    padding: 10;
    border: 0;
    text-align: center;
    font-size: 16px;
    margin: 30px;
    font-family: "Times New Roman", Times, serif;

    }

button {
    background-color: #FBDFC9; 
    border: none;
    color: #A15B20;
    padding: 15px 32px;
    /*margin-left: 30px;
    margin-right: 30px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    border-radius: 30px;
    font-family: "Times New Roman", Times, serif;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);;
    padding-top: 60px;
}
.modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
    margin: auto;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    padding: 20px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    cursor: pointer;
    font-family: "Times New Roman", Times, serif;
}

.filter-button {
    background-color: #4CAF50;
    position: absolute;
    top: 12px;
    right: 10px;
    color: white;
    padding: 10px 0;
    margin: 20px;
    border: none;
    cursor: pointer;
    width: 100px;
    border-radius: 5px;
    display: inline-block; 
    text-decoration: none; 
    text-align: center;
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
}
.back-button {
    position: absolute;
    top: 12px;
    right: 135px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    margin: 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
    display: inline-block; 
    text-decoration: none; 
    text-align: center;
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
}

.wishlist-button {
    position: absolute;
    top: 12px;
    right: 260px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    margin: 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
    display: inline-block; 
    text-decoration: none; 
    text-align: center;
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
}

.filter-button:hover {
    background-color: #45a049;
}
.back-button:hover {
    background-color: #45a049;
}

