textarea:focus::placeholder {
    color: transparent;
}
.back-button {
    position: absolute; 
    top: 125px; 
    left: 50px; 
    background-color: #315E26;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    font-family: "Optima", sans-serif;
    text-align: center;
    z-index: 1000; 
}

.back-button:hover {
    background-color: #45a049;
}

.blurb-container {
    width: 90%; 
    max-width: 700px;
    padding: 20px;
    text-align: center;
    z-index: 1000;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.inline-box {
    display: inline-block;
    position: relative; 
    align-items: flex-start;
    width: 300px;
    min-height: 400px; 
    background-color: #f9f4f4; 
    padding: 15px; 
    margin: 10px; 
    border: 2px solid #dca9a9; 
    border-radius: 15px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    resize: none; 
    overflow: hidden; 
    text-align: left; 
    font-family: "Optima", sans-serif;
    font-size: 16px; 
    color: #A15B20; 
    transition: transform 0.3s, box-shadow 0.3s; 
}


.inline-box:hover {
    transform: scale(1.05); 
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3); 
}

.inline-box a {
    text-decoration: none; 
    color: #f3d9c6; 
    font-weight: bold; 
    transition: color 0.3s; 
}

.inline-box a:hover {
    color: #f3d9c6;
}

.inline-box img {
    border-radius: 10px; 
    width: 100%; 
    height: auto; 
    margin-bottom: 10px; 
}


.recipes-container, .wishlist-container, .completed-container, .favorite-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; 
    padding: 20px; 
}

.submit-button {
    background-color: #f3d9c6;
    color: #A15B20;
    font-size: 14px;
    padding: 8px 16px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    align-self: flex-end; 
    font-family: "Optima", sans-serif;
}
.submit-button:hover {
    outline: 3px solid #824A1A;
}

button[type="started"] {
    background-color: #f3d9c6;
    color: #A15B20;
    font-size: 14px;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto; 
    display: block; 
    font-family: "Optima", sans-serif;
}
button[type="recipe"] {
    background-color: #f3d9c6;
    color: #A15B20;
    font-size: 14px;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto; 
    display: block; 
    font-family: "Optima", sans-serif;
}



body {
    background-color: #F4F2DD;
    display: flex;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
    display:block !important;
}

h1 {
    font-size: 50px;
    color: #315E26;
    margin: 20px;
    text-align: center;
    font-family: "Optima", sans-serif;
}

h2 {
    font-size: 35px;
    color: #315E26;
    /*margin: 20px;*/
    text-align: center;
    font-family: "Optima", sans-serif;
}

h3 {
    font-size: 25px;
    color: #315E26;
    /*margin: 20px;*/
    text-align: left;
    font-family: "Optima", sans-serif;
}

.recipe-name {
    font-size: 15px;
    color: #A15B20;
    /*margin: 20px;*/
    text-align: center;
    font-family: "Optima", sans-serif;
}
.recipe-name:hover {
    background-color: #824A1A;
}

p {
    font-size: 25px;
    color: #315E26;
    margin: 20px;
    font-family: "Optima", sans-serif;
}

#SearchBox {
    width: 80%;
    font-size: 18px;
    padding: 11px;
    border: 3px solid black;
    margin-bottom: 20px;
    border-radius: 30px;
    font-family: "Optima", sans-serif;
}

.pantry-list button {
    background-color: #dca9a9;
    color: #315E26;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-family: "Optima", sans-serif;
}

#Ingredients {
    list-style-type: none;
    font-size: 20px;
    font-family: "Optima", sans-serif;
    padding: 0;
}

#Ingredients li a {
    padding: 12px;
    text-decoration: none;
    color: #315E26;
    display: list-item;
} 
.main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px; 
    padding: 20px;
    flex:1;
    font-family: "Optima", sans-serif;
}

.left-container {
    width: 45%; 
}

.right-container {
    width: 50%; 
    padding-left: 20px;
} 
.table-container {
    max-height: 500px;
    overflow-y: auto;
    border: 1px solid black;
    font-family: "Optima", sans-serif;
}

.pantry-summary {
    margin: 20px auto;
    text-align: center;
    color: #315E26;
    font-family: "Optima", sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
    color: #315E26;
    font-family: "Optima", sans-serif;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

.scroll {
    /*margin: 4px, 4px;
    margin-left: 20px;*/
    border-radius: 30px;
    border: 2px;
    padding: 20px;
    background-color: #e0e27aa2;
    width: 100%;
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
}
.bottom-buttons {
    bottom: 20px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: "Optima", sans-serif;
}
.bottom-buttons-container {
    display: flex; 
    justify-content: left; 
    gap: 285px; 
    margin-top: 20px; 
    position: relative; 
    padding-top: 10px;
    border-top: 1px solid #ccc; 
    font-family: "Optima", sans-serif;
}

.col1 {
    width: 10.5%;
    height: 60.5%;
    padding: 10;
    border: 0;
    text-align: center;
    font-size: 16px;
    margin: 30px;
    font-family: "Optima", sans-serif;
    }

.tight-wrap-button {

    padding: 5px 10px;
    background-color: #f5c39a; 
    color: #A15B20;
    width: fit-content; 
    font-size: 16px;
    border: 1px solid rgba(255, 255, 255, 0);
    overflow:scroll;
    border-radius: 0px;
    margin: 3px;
  
    display: -ms-inline-grid;
    flex-flow: row wrap;
    align-items: stretch;
    cursor: default;
    font-family: "Optima", sans-serif;
    border-radius: 30px;
}


button {
    background-color: #f5c39a; 
    color: #A15B20;
    border: none;
    padding: 15px 32px;
    /*margin-left: 30px;
    margin-right: 30px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    border-radius: 30px;
    font-family: "Optima", sans-serif;
}


.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
    padding-top: 40px;
    padding-left: 20px;
    z-index: 1000;
    font-family: "Optima", sans-serif;
}
.modal-content {
    text-align: center; 
    background-color: #f9f4f4;
    border: 2px solid #dca9a9;
    width: 90%;
    margin: auto;
    max-width: 600px;
    max-height: 90vh; 
    border-radius: 10px;
    overflow-y: auto; 
    box-sizing: border-box; 
    position: relative;
    font-family: "Optima", sans-serif;
}
.modal-content li {
    text-align: left; 
    width: 90%;
    margin: auto;
    max-width: 600px;
    max-height: 90vh; 
    border-radius: 10px;
    overflow-y: auto;  
    position: relative;
    font-family: "Optima", sans-serif;
}
.modal-content img {
    border-radius: 10px; 
    width: 80%; 
    height: auto; 
    margin-bottom: 10px;
}
.modal-content h2 {
    text-align: center; 
    font-family: "Optima", sans-serif;
}
.modal-content h2 a {
    font-size: 40px; 
    color: #A15B20; 
    text-decoration: none;
}
.modal-content h2 a:hover {
    color: rgb(10, 117, 231);
}
.modal-body {
    padding: 40px;
}
.modal-footer {
    position: sticky;
    bottom: 0;
    background-color: white;
    padding: 10px 0;
    margin: 0;
    text-align: center;
    border-top: 1px solid #ccc;
    display: flex; 
    justify-content: center; 
    gap: 20px;
    font-family: "Optima", sans-serif;
}

.wishlist-form {
    position: absolute;
    bottom: 15px; 
    right: 20px; 
    text-align: right;
    margin: 0;
    font-family: "Optima", sans-serif;
}
.favorite-form {
    position: absolute;
    bottom: 15px; 
    right: 20px; 
    text-align: right;
    margin: 0;
    font-family: "Optima", sans-serif;
}

.completed-form {
    position: absolute;
    bottom: 15px; 
    right: 20px; 
    text-align: right;
    margin: 0;
    font-family: "Optima", sans-serif;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    cursor: pointer;
    font-family: "Optima", sans-serif;
}

.filter-button {
    display: block; 
    margin: 10px auto; 
    background-color: #f3d9c6;
    color: #A15B20;
    border: none;
    padding: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    width: 75px;
    text-decoration: none; 
    text-align: center;
    font-size: 16px;
    font-family: "Optima", sans-serif;
}

.clear-button {
    display: block; 
    margin: 10px auto; 
    background-color: #f3d9c6;
    color: #A15B20;
    border: none;
    padding: 7px 0;
    cursor: pointer;
    border-radius: 20px;
    width: 100px;
    text-decoration: none; 
    text-align: center;
    font-size: 12px;
    font-family: "Optima", sans-serif;
}

.filter-button:hover {
    outline: 3px solid #824A1A;
}
  
  
.show {display:block;}

.search-box {
    margin: 20px auto;
    padding: 15px;
    text-align: center;
    max-width: 800px;
    display: flex;
    gap: 10px;
    justify-content: center;
    font-family: "Optima", sans-serif;
}

.search-box input[type="text"] {
    flex: 1;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    min-width: 200px;
    font-family: "Optima", sans-serif;
}

.search-box select {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: white;
    font-family: "Optima", sans-serif;
}

.search-box .search-button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-family: "Optima", sans-serif;
}

.search-box .search-button:hover {
    background-color: #45a049;
}

.inline-box.hidden {
    display: none;
}

.pagination-page-info {
    padding: 10px 0;
    margin: 1em;
    text-align: center;
    font-size: 20px;
    color: #824A1A;
    width: 100%;
    font-family: "Optima", sans-serif;
}
.pagination-page-info b {
    color: #824A1A;
    background: #f3d9c6;
    padding: 10px 0;
    font-size: 100%;
    font-family: "Optima", sans-serif;
     
}

.pagination {
    display: flex;
    position: relative;
    justify-content: center;
  }

  ul {
    float: center;
    list-style-type: none;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}
  
  .pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .profile-container {
    flex: 1;
    width: 100%; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    overflow: hidden;
    font-family: "Optima", sans-serif;
}

.page-title {
    font-size: 36px;
    color: #315E26;
    margin-bottom: 20px;
    font-family: "Optima", sans-serif;
}

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.user-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #DCA9A9;
}

.upload-form input[type="file"] {
    padding: 10px;
    font-size: 14px;
    margin: 10px 0;
    font-family: "Optima", sans-serif;
}

.upload-form .submit-button {
    background-color: #f3d9c6;
    color: #A15B20;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Optima", sans-serif;
}

.upload-form .submit-button:hover {
    background-color: #dcb2a9;
}

.preferences-form h2 {
    font-size: 24px;
    color: #315E26;
    margin-bottom: 15px;
    font-family: "Optima", sans-serif;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    align-items: flex-start;
}

.checkbox-group label {
    font-size: 18px;
    color: #315E26;
    font-family: "Optima", sans-serif;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 10px;
}

.preferences-form .submit-button {
    background-color: #f3d9c6;
    color: #A15B20;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Optima", sans-serif;
}

.preferences-form .submit-button:hover {
    background-color: #dcb2a9;
}

.checked
{
    color:#A15B20;
}
.unchecked
{
    color:#f3d9c6;
}

.navigationbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    position: relative;
    background-color: #F4F2DD; 
    z-index: 10;
}

.logo-container {
    flex-shrink: 0;
}

.logo {
    max-width: 150px; 
    height: auto; 
}

.navigation-items {
    display: flex;
    gap: 15px;
    transition: transform 0.3s ease;
    background-color: #F4F2DD; 
    box-sizing: border-box;
}

.navigation-items a,
.navigation-item button {
    text-decoration: none;
    padding: 10px 15px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    box-sizing: border-box;
}

.dropdown-content,
.dropdown-profile-content {
    display: none;
    position: absolute;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #f1f1f1;
    z-index: 100;
    min-width: 120px;
 
}

.dropdown-content a, .dropdown-profile-content a {
    color: #315E26;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover, .dropdown-profile-content a:hover {
    outline: 3px solid #315E26;
}

.show {
    display: block;
}

.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
    border: none;
    z-index: 10000;
    color: #315E26;
    background-color: #F4F2DD;
}

.hamburger:hover {
    color: #45a049; 
}

.drop-button,
.drop-profile-button,
.pantry-button,
.all-recipes-button {
    background-color: #315E26 !important;
    color:white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    min-width: 120px; 
    text-align: center;
    font-size: 16px;
    font-family: "Optima", sans-serif;
    text-decoration: none;
}

.drop-button:hover,
.drop-profile-button:hover,
.pantry-button:hover,
.all-recipes-button:hover {
    background-color: #45a049;
    text-decoration: none;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .navigation-items {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%; 
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        background-color: #315E26; 
        gap: 0;
    }

    .navigation-items.show {
        display: flex;
    }

    .navigation-items a,
    .navigation-item button {
        padding: 15px;
        text-align: left;
        width: 100%; 
        border-bottom: 1px solid rgba(255, 255, 255, 0.6); 
        box-sizing: border-box;
    }
    
    .dropdown-content,
    .dropdown-profile-content {
        width:100%
    }
}
.reviewbox {
    max-width: 90%;
    margin: auto;
}

.review-textarea {
    width: 100%; 
    max-width: 100%; 
    max-height: 200px;
    overflow-y: auto; 
    resize: vertical; 
    box-sizing: border-box;
}

.recipe-page {
    font-family: "Optima", sans-serif;
    background-color: #F4F2DD; 
    color: #315E26; 
    margin: 0;
    padding: 0;
    display:block !important;
}

.recipe-page h1 {
    text-align: center;
    font-size: 3em; 
    color: #315E26; 
    margin: 20px 0;
}

.recipe-page .content {
    display: flex;
    justify-content: center;
    align-items: stretch; 
    gap: 20px;
    padding: 20px;
}

.recipe-page .image-container {
    flex: 1 1 45%;
    max-width: 500px;
    height: auto; 
    display: flex;
    align-items: center; 
    justify-content: center;
    overflow: hidden; 
}

.recipe-page .image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: block;
}

.recipe-page .details-container {
    flex: 1 1 45%; 
    max-width: 500px;
    background-color: #fdebd0; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden; 
}

.recipe-page .details-container h2 {
    font-size: 1.2em;
    color: #315E26;
}

.recipe-page .details-container ul {
    list-style-type: disc;
    padding-left: 20px;
    margin: 0;
}

.recipe-page .details-container ul li {
    margin-bottom: 5px; 
}

.recipe-page .methods-section {
    background-color: #F4F2DD; 
    color: #315E26;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 1020px;
    border: 3px solid #315E26; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.recipe-page .methods-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.recipe-page .methods-section h3 {
    margin-left: 20px;
}

.recipe-page .bottom-recipe-buttons {
    text-align: center;
    margin: 30px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.recipe-page .bottom-recipe-buttons button {
    background-color: #315E26;
    color: #F4F2DD;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    font-family:"Optima", sans-serif;
}

.recipe-page .bottom-recipe-buttons button:hover {
    background-color: #F4F2DD;
    color: #315E26;
    border: 2px solid #315E26;
}