<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="static/styles.css">
    {% include 'header.html' %}

    <div class="blurb-container"></div>
        <h1>Pantry 2 Plate</h1>
        <br>
        <h2>
            Sorry, the page you are requesting does not exist. Please check the URL again. 
        </h2>
    </div>

    
</head>
</html>
