<!DOCTYPE html>
<html>

    <div class="navigationbar">
        <div class="logo-container">
            <img class="logo" src="static/logo.png" alt="logo">
            <button onclick="history.back()" class="back-button">Go Back</button>
        </div>
        <div class="navigation-items">
            <a href="/pantry" class="pantry-button" id="navpantry">Pantry</a>
            <div class="navigation-item">
                <button onclick="savedFunction()" class="drop-button" id="navsaved">Your Saves</button>
                <div id="savedDropdown" class="dropdown-content">
                    <a href="/add_to_completed">Completed</a>
                    <a href="/add_to_wishlist">Wishlist</a>
                    <a href="/add_to_favorites">Favorites</a>
                </div>
            </div>
            <a href="/all_recipes" class="all-recipes-button" id="navrecipes">All Recipes</a>
            <div class="navigation-item">
                <button onclick="profileFunction()" class="drop-profile-button" id="navprofile">Profile</button>
                <div id="profileDropdown" class="dropdown-profile-content">
                    <a href="/profile_page">Profile</a>
                    <a href="logoutapp">Log out</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>
        function savedFunction() {
            document.getElementById("savedDropdown").classList.toggle("show");
        }
        function profileFunction() {
            document.getElementById("profileDropdown").classList.toggle("show");

        }

        $(document).ready(function(){
    
            var browserUrl = window.location.href;
            
            console.log(browserUrl)
            var myUrl = $(this).attr('href');

            parts = browserUrl.split("/")
            browserUrl = parts[parts.length - 1]

            if (browserUrl === 'add_to_completed' || browserUrl === '/add_to_favorites' || browserUrl == '/add_to_wishlist'){
                const element = document.getElementById("navsaved");
                element.style.backgroundColor = "#f3d9c6";
                element.style.color = '#824A1A';
                element.style.outline = '3px solid #824A1A';
                element.style.transform = scale(1.85); 
            } else if (browserUrl === 'profile_page') {
    
                const element = document.getElementById("navprofile");
                element.style.backgroundColor = "#f3d9c6";
                element.style.color = '#824A1A';
                element.style.outline = '3px solid #824A1A';
                element.style.transform = scale(1.85); 
            } else if (browserUrl === 'all_recipes') {

                const element = document.getElementById("navrecipes");
                element.style.backgroundColor = "#f3d9c6";
                element.style.color = '#824A1A';
                element.style.outline = '3px solid #824A1A';
                element.style.transform = scale(1.85); 
            } else if (browserUrl === 'pantry') {
    
                const element = document.getElementById("navpantry");
                element.style.backgroundColor = "#f3d9c6";
                element.style.color = '#824A1A';
                element.style.outline = '3px solid #824A1A';
                element.style.transform = scale(1.85); 
            }
                
        });

        
    </script>
</html>