<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="static/styles.css">
    {% include 'header.html' %}
    <title>404 - Page Not Found</title>
</head>
<body>
    <div class="blurb-container">
    <h1>Oh no! Page not found.</h1>
        <p>Sorry, the server encountered an internal error and was unable to complete your request.</p>
        <p><a href="/welcome_page">Go back to the homepage</a></p>
    </div>
</body>
</html>