
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/landing.css">
  
    </head>
    <body>
    <img class="logo" src="static/logo.png" alt="logo">
    <div class="blurb-container">
        <h1>Pantry 2 Plate</h1>
        <br>
        <h2>
            A customized recipe recommender so that you don't have to fret about finding recipes to make with 
            only the ingredients you have on hand!
        </h2>
        <br></br>
        <div class = "button-container">
        <form action="/login">
            <button class="submit-button">Login with Google</button>
        </form>
        </div>
    </div>
    <img class="background bottom-left" src="static/background-design.png" alt="background">
    <img class="background top-right" src="static/background-design.png" alt="background">
    
    </body>
</html>
