<!DOCTYPE html>
<html>

<head>
    <title>Profile Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/styles.css">
</head>


<body>

    {% include 'header.html' %}
    <div class="profile-container">
        <h1>Profile</h1>
        <!-- User Image Section -->
        <div class="profile-section">
            <h2>Profile Picture</h2>
            <div class="user-image">
                {% if user_data.picture %}
                <img src="{{ user_data.picture }}" alt="User Profile Image">
                {% endif %}
            </div>
            <form class="upload-form" action="" method="POST" enctype="multipart/form-data">
                <input type="file" name="file" accept="image/*" required>
                <button type="submit" class="submit-button">Upload</button>
                <br></br>
                {% if error %}
                    Error: {{error}}
                {% endif %}
                
            </form>
        </div>

        <!-- Dietary Preferences Section -->
        <h2>Dietary Preferences</h2>
        <form class="preferences-form" action="/profile_page" method="POST">

            <div class="checkbox-group">
                <label>
                    <input type="checkbox" name="restriction" value="vegetarian" 
                    {% if 'vegetarian' in user_data.restrictions %}checked{% endif %}>
                    Vegetarian
                </label>
                <label>
                    <input type="checkbox" name="restriction" value="vegan" 
                    {% if 'vegan' in user_data.restrictions %}checked{% endif %}>
                    Vegan
                </label>
                <label>
                    <input type="checkbox" name="restriction" value="dairy-free" 
                    {% if 'dairy-free' in user_data.restrictions %}checked{% endif %}>
                    Dairy-free
                </label>
                <label>
                    <input type="checkbox" name="restriction" value="keto" 
                    {% if 'keto' in user_data.restrictions %}checked{% endif %}>
                    Keto
                </label>
                <label>
                    <input type="checkbox" name="restriction" value="gluten-free" 
                    {% if 'gluten-free' in user_data.restrictions %}checked{% endif %}>
                    Gluten-free
                </label>
            </div>
            <button class="submit-button" type="submit" id="saveBtn">Save Changes</button>
        </form>
    </div>
</body>



<script>
    function errorMsg(error) {
      alert(error);
    }

     window.onclick = function(event) {
            if (!event.target.matches('.drop-button')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
            if (!event.target.matches('.drop-profile-button')) {
                var profileDropdowns = document.getElementsByClassName("dropdown-profile-content");
                for (var i = 0; i < profileDropdowns.length; i++) {
                    var openProfileDropdown = profileDropdowns[i];
                    if (openProfileDropdown.classList.contains('show')) {
                        openProfileDropdown.classList.remove('show');
                    }
                }
            }

        }    


    const button = document.getElementById("saveBtn");

    button.addEventListener('click', (event) => {
        event.stopPropagation(); // Prevents click event from bubbling up to parent container
        alert("Saved changes!")

    });




</script>

</html>