<!DOCTYPE html>
<html>

<head>
    <title>Profile Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/styles.css">
</head>

<body>
    <div class="profile-container">
        <h1>Profile</h1>
        {% include 'header.html' %}

        <!-- User Image Section -->
        <div class="user-image">
            {% if user_data.picture %}
            <img src="{{ user_data.picture }}" alt="User Profile Image" width="200" height="200">
            {% endif %}
        </div>
        <form action="" method="POST" enctype="multipart/form-data">
                <input type="file" name="file">
               <input type="submit" value="Upload">
            </form>

        <!--
        <div class="allergy-section">
            <label for="allergies">Enter allergies here (i.e. eggs)</label>
            <select class="js-example-basic-multiple" name="allergies[]" multiple="multiple">
                <option value=" {{ allergy }}">{{ allergy }}</option>
                  ...
                <option value="WY">Wyoming</option>
              </select>
            <select name="allergies" id="allergies" multiple>
                {% for allergy in user_data.allergies %}
                <option value="{{ allergy }}" {% if allergy in user.allergies %}selected{% endif %}>
                    {{ allergy }}
                </option>
                {% endfor %}
            </select>
        </div>
        -->

        <!-- Dietary Preferences Checkboxes -->
        <form action="/profile_page" method="POST">
            <h2>Dietary Preferences</h2>
                <label>
                    <input type="checkbox" name="restriction" value="vegetarian" 
                    {% if 'vegetarian' in user_data.restrictions %}checked{% endif %}>
                    Vegetarian
                </label><br>
                <label>
                    <input type="checkbox" name="restriction" value="vegan" 
                    {% if 'vegan' in user_data.restrictions %}checked{% endif %}>
                    Vegan
                </label><br>
                <label>
                    <input type="checkbox" name="restriction" value="dairy-free" 
                    {% if 'dairy-free' in user_data.restrictions %}checked{% endif %}>
                    Dairy-free
                </label><br>
                <label>
                    <input type="checkbox" name="restriction" value="keto" 
                    {% if 'keto' in user_data.restrictions %}checked{% endif %}>
                    Keto
                </label><br>
                <label>
                    <input type="checkbox" name="restriction" value="gluten-free" 
                    {% if 'gluten-free' in user_data.restrictions %}checked{% endif %}>
                    Gluten-free
                </label><br>
                <button class="submit-button" id="saveChangesBtn">SAVE CHANGES</button>
        </form>
    </div>

</body>

</html>