<!DOCTYPE html>
<html>

<head>
    <title>Profile Page</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    {% include 'header.html' %}
    <div class="profile-container">
        <h1>Profile</h1>

        <!-- User Image Section -->
        <div class="user-image">
            <img src="{{ user_data.picture }}" alt="User Profile Image" width="700" height="500">
        </div>

        <!--
        <div class="allergy-section">
            <label for="allergies">Enter allergies here (i.e. eggs)</label>
            <select class="js-example-basic-multiple" name="allergies[]" multiple="multiple">
                <option value=" {{ allergy }}">{{ allergy }}</option>
                  ...
                <option value="WY">Wyoming</option>
              </select>
            <select name="allergies" id="allergies" multiple>
                {% for allergy in user_data.allergies %}
                <option value="{{ allergy }}" {% if allergy in user.allergies %}selected{% endif %}>
                    {{ allergy }}
                </option>
                {% endfor %}
            </select>
        </div>
        -->

        <!-- Dietary Preferences Checkboxes -->
        <div class="dietary-preferences-section">
            <p>Dietary Preferences</p>
            {% for restriction in user_data.restrictions %}
            <div class="restriction">
                <label for="diet-{{ restriction }}">
                    <input type="checkbox" name="vegetarian" id="vegetarian"
                        value="vegetarian" {% if 'vegetarian' in user.dietary_preferences %}checked{% endif %}>
                    vegetarian
                    <input type="checkbox" name="vegan" id="vegan"
                        value="vegan" {% if 'vegan' in user.dietary_preferences %}checked{% endif %}>
                    <input type="checkbox" name="dairy-free" id="dairy-free"
                        value="dairy-free" {% if 'dairy-free' in user.dietary_preferences %}checked{% endif %}>
                    <input type="checkbox" name="keto" id="keto"
                        value="keto" {% if 'keto' in user.dietary_preferences %}checked{% endif %}>
                    <input type="checkbox" name="gluten-free" id="gluten-free"
                        value="gluten-free" {% if 'gluten-free' in user.dietary_preferences %}checked{% endif %}>
                </label>
            </div>
            {% endfor %}
        </div>

        <!-- Save Changes Button -->
        <div class="save-button">
            <button type="submit" id="saveChangesBtn">SAVE CHANGES</button>
        </div>

    </div>

</body>

</html>