<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="static/styles.css">
</head>

<body>
    <h1 style="color: green;">Recommended Recipes</h1>
    {% for recipe in recipes[:18] %}
        <span class="inline-box">
            <a href="/recipe_page?recipe={{recipe._id}}">{{recipe.title | safe}}</a>

            <br></br>
            <img src="{{recipe.picture_url}}" width="150" height="150">
            <br></br>
            Number of Servings: {{recipe.servings}}
            <br></br>
            Time needed: {{recipe.prep_time[5:]}}
        </span>
    {% endfor %}


</body>

</html>