<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Your Favorite Recipes</title>
    {% include 'header.html' %}
    <a href="/">
        <img class="logo" src="static/logo.png" alt="logo">
    </a>
</head>
<body>
    <h1>Your Favorite Recipes</h1>
    <button onclick="history.back()" class="back-button">Go Back</button>

    <div class="favorite-container">
        {% if favRecipes %}
            {% for recipe in favRecipes %}
            <span class="inline-box">
                <h4>{{ recipe.title | safe }}</h4>
                <img src="{{recipe.picture_url}}" width="150" height="150">
                <br></br>
                {% if recipe.servings != "" and recipe.servings == recipe.servings %}
                Number of Servings: {{ recipe.servings }}
                <br></br>
                {% elif recipe.makes != "" and recipe.makes == recipe.makes %}
                    Makes: {{ recipe.makes }}
                    <br></br>
                {% endif %}
                {% if recipe.difficulty in ['Easy', 'More effort', 'A challenge'] %}
                    {% if recipe.difficulty == 'Easy' %}
                        Skill level: Beginner
                    {% endif %}
                    {% if recipe.difficulty == 'More effort' %}
                        Skill level: Intermediate
                    {% endif %}
                    {% if recipe.difficulty == 'A challenge' %}
                        Skill level: Advanced
                    {% endif %}
                    <br></br>
                {% else %}
                {% endif %}
                Time needed: {{recipe.total_time}}
                <br></br>
                {% if recommended %}
                    {% if recipe.missing_count == 0 %}
                    All Good to Go!
                    {% else %}
                    # Missing Ingredients: {{recipe.missing_count}}
                    {% endif %}
                <br></br>
                {% endif %}

                Tags: 
                {% for tag in recipe.restrictions %}
                    <button class="tight-wrap-button">{{tag}}</button>
                {% endfor %}
                <br></br>
                <form action="/remove_from_favorites" method="post">
                    <input type="hidden" name="recipe_id" value="{{recipe._id}}">
                    <button class="submit-button">Remove from Favorites</button>
                </form>
                </span>
            {% endfor %}
        {% else %}
            <p>Your favorite recipe is empty.</p>
        {% endif %}
    </div>
</body>
</html>