<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Your Favorite Recipes</title>
</head>
<body>
    <h1>{{ username }}'s Favorite Recipes</h1>
    <a href="/all_recipes" class="back-button">Go Back</a>

    <div class="favorite-container">
        {% if favRecipes %}
            {% for recipe in favRecipes %}
            <span class="inline-box">
                <a href="/recipe_page?recipe={{recipe._id}}">{{recipe.title | safe}}</a>
    
                <br></br>
                <img src="{{recipe.picture_url}}" width="150" height="150">
                <br></br>
                {% if recipe.servings != '' %}
                    Number of Servings: {{recipe.servings}}
                {% else %}
                    Makes: {{recipe.makes}}
                {% endif %}
                <br></br>
                Difficulty: {{recipe.difficulty}}
                <br></br>
                Time needed: {{recipe.prep_time[5:]}}
                <br></br>
    
                Tags: 
                {% for tag in recipe.restrictions %}
                    <button class="tight-wrap-button">{{tag}}</button>
                {% endfor %}
                <br></br>
                </form>
                </span>
            {% endfor %}
        {% else %}
            <p>Your favorite recipe is empty.</p>
        {% endif %}
    </div>
</body>
</html>