<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="static/styles.css">
</head>

<body>
    {% include 'header.html' %}
    <h1 style="color: green;">Recommended Recipes</h1>

    <a href="/finished_recipes" class="back-button"> Completed/Favorites</a>
    <a href="/pantry" class="back-button">Pantry</a>
    <a href = "/wishlist" class = "wishlist-button">Wishlist</a>

    <button class="filter-button" onclick="document.getElementById('filterModal').style.display='block'">Filter</button>
    
    <div id="filterModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="document.getElementById('filterModal').style.display='none'">&times;</span>
            <h2>Filter Options</h2>
            
            <form action="/recommended_recipes" method="get">
                <label for="skill">Skill Level:</label>
                <select name="skill" id="skill">
                    <option value="">--Select--</option> 
                    <option value="beginner">Beginner</option>
                    <option value="intermediate">Intermediate</option>
                    <option value="advanced">Advanced</option>
                </select>
            
                <label for="time">Time (minutes):</label>
                <input type="number" id="time" name="time" min="0" placeholder="Enter max time">
            
                <button type="submit">Apply Filters</button>
            </form>
        </div>
    </div>

    {% for recipe in recipes[:18] %}
        <span class="inline-box">
            <a href="/recipe_page?recipe={{recipe._id}}">{{recipe.title | safe}}</a>

            <br></br>
            <img src="{{recipe.picture_url}}" width="150" height="150">
            <br></br>
            {% if recipe.servings != '' %}
                Number of Servings: {{recipe.servings}}
            {% else %}
                Makes: {{recipe.makes}}
            {% endif %}
            <br></br>
            Time needed: {{recipe.prep_time[5:]}}
            <form action="/add_to_wishlist" method="post" style="display: inline;">
                <input type="hidden" name="recipe_id" value="{{ recipe._id }}">
                <button type="submit" class="wishlist-button">Add to Wishlist</button>
            </form>
            <br></br>

            Tags: 
            {% for tag in recipe.restrictions %}
                <button class="tight-wrap-button">{{tag}}</button>
            {% endfor %}
        </span>
    {% endfor %}

    <script>

    </script>

</body>

</html>