<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    {% include 'header.html' %}
    {% if recommended %}
        <h1>Recommended Recipes</h1> 
    {% else %}
        <h1>All Recipes</h1> 
    {% endif %}

    <div class="pantry-summary" style="text-align: center;"></div>
            {% if restrictions %}
                <p style="font-size: 20px; text-align: center;"><strong>Your current dietary restrictions:</strong> 
                    {{ restrictions|join(', ') }}
                </p>
            {% else %}
                <p style="font-size: 20px; text-align: center;">No dietary restrictions.</p>
            {% endif %}
    </div>

    {% if recommended %}
        <div class="pantry-summary" style="text-align: center;">
            {% if pantry_items %}
                <p style="font-size: 20px;"><strong>The pantry items you have added so far:</strong> 
                    {{ pantry_items|join(', ') }}
                </p>
            {% else %}
                <p style="font-size: 20px;">No pantry items available.</p>
            {% endif %}
        </div>
    {% endif %}
    {% if not recommended %}
    <p style = "text-align: center; font-size: medium;">All recipes are displayed. To change your dietary restrictions, please visit your profile!</p>
    {% endif %}


    {% if not recommended %}
        <div class="search-box">
            <form action="/all_recipes" method="get">
                {% if query %}
                <input type="text" id="search-input" name="search" value="{{ query }}">
                {% else %}
                <input type="text" id="search-input" name="search" placeholder="Search for recipes by title...">
                {% endif %}
                <button type='submit' onclick="searchRecipes()" class="search-button">Search</button>
                <button class="submit-button" name="clear-search" value="clicked">Clear Search</button>
            </form>
        </div>
    {% endif %}

    <button class="filter-button" onclick="document.getElementById('filterModal').style.display='block'">Filter</button>

    {{ pagination.info }}
    <div class="pagination">
        {{ pagination.links }}
    </div>

    <div id="filterModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="document.getElementById('filterModal').style.display='none'">&times;</span>
            <h2>Filter Options</h2>
            {% if recommended %}
            <form action="/recommended_recipes" method="get">
            {% else %}
            <form action="/all_recipes" method="get">
            {% endif %}
                <label for="skill">Skill Level:</label>
                <select name="skill" id="skill">
                    <option value="">--Select--</option>
                    {% if prev_skill == 'Easy' %}
                    <option value="Beginner" selected="selected">Beginner</option>
                    {% else %}
                    <option value="Beginner">Beginner</option>
                    {% endif %}
                    {% if prev_skill == 'More effort' %}
                    <option value="Intermediate" selected="selected">Intermediate</option>
                    {% else %}
                    <option value="Intermediate">Intermediate</option>
                    {% endif %}
                    {% if prev_skill == 'A challenge' %}
                    <option value="Advanced" selected="selected">Advanced</option>
                    {% else %}
                    <option value="Advanced">Advanced</option>
                    {% endif %}
                </select>
                <br></br>
                <label for="time">Time (minutes):</label>
                {% if prev_max_time %}
                <input type="number" id="time" name="time" min="0" value="{{ prev_max_time }}">
                {% else %}
                <input type="number" id="time" name="time" min="0" placeholder="Enter max time">
                {% endif %}
                <br></br>
                <button type="submit">Apply Filters</button>
            </form>
        </div>
    </div>
    
    <div class="recipes-container">
        <br></br>

        {% for recipe in rpart %}
            
                <span class="inline-box" onclick="openModal('modal{{ loop.index }}')">
                    <h4 class=.recipe-name>{{ recipe.title | safe }}</h4> 
                    
                    <i class="fa fa-star unchecked" id="wishlistStar"></i>

                    <img src="{{recipe.picture_url}}" width="150" height="150">
                
                    <br></br>
                    Time needed: {{recipe.total_time}}
                    <br></br>
                    {% if recipe.servings != "" and recipe.servings == recipe.servings %}
                        Number of Servings: {{ recipe.servings }}
                        <br></br>
                    {% elif recipe.makes != "" and recipe.makes == recipe.makes %}
                        Makes: {{ recipe.makes }}
                        <br></br>
                    {% endif %}

                    {% if recipe.difficulty in ['Easy', 'More effort', 'A challenge'] %}
                            {% if recipe.difficulty == 'Easy' %}
                                Skill level: Beginner
                            {% endif %}
                            {% if recipe.difficulty == 'More effort' %}
                                Skill level: Intermediate
                            {% endif %}
                            {% if recipe.difficulty == 'A challenge' %}
                                Skill level: Advanced
                            {% endif %}
                        <br></br>
                    {% else %}
                    {% endif %}

                    {% if recommended %}
                        {% if recipe.missing_count == 0 %}
                        All Good to Go!
                        {% else %}
                        # Missing Ingredients: {{recipe.missing_count}}
                        {% endif %}
                    <br></br>
                    {% endif %}
                    {% if recipe.restrictions %}
                        {% for tag in recipe.restrictions %}
                            <button class="tight-wrap-button">{{tag}}</button>
                        {% endfor %}
                        <br>
                    {% endif %}
                    <br></br>
                    <form id="wishlistForm" onsubmit="addToWishlist(event)" method="post" onclick="event.stopPropagation();" class = "wishlist-form">
                        <input type="hidden" name="recipe_id" value="{{ recipe._id }}">
                        <button onclick="event.stopPropagation();" style="font-size:14px; padding: 8px 16px;" onMouseOver="this.style.backgroundColor='#F2CBBE'" onMouseOut="this.style.backgroundColor='#f3d9c6'">Add to Wishlist </button>
                    </form>
                    
                </span>
            

                <div id="modal{{ loop.index }}" class="modal">
                    <div class="modal-content">
                        <span class="close" onclick="closeModal('modal{{ loop.index }}')">&times;</span>
                        <h2><a href="/recipe_page?recipe={{recipe._id}}">{{recipe.title | safe}}</a></h2>
                        <a href="/recipe_page?recipe={{recipe._id}}">
                            <img src="{{ recipe.picture_url }}" width="500" height="400" style="display: block; margin: auto;">
                        </a>
                        <h3>Time needed: {{ recipe.total_time }}</h3>

                        {% if recipe.servings != "" and recipe.servings == recipe.servings %}
                        <h3>Number of Servings: {{ recipe.servings }}</h3>
                        {% elif recipe.makes != "" and recipe.makes == recipe.makes %}
                        <h3>Makes: {{ recipe.makes }}</h3>
                        {% endif %}
                        

                       {% if recommended %}
                            {% if recipe.missing_count == 0 %}
                                <h3>All Good to Go!</h3>
                            {% else %}
                                <h3># Missing Ingredients: {{recipe.missing_count}}</h3>
                            {% endif %}
                        {% endif %}

                        {% if recipe.difficulty in ['Easy', 'More effort', 'A challenge'] %}
                            {% if recipe.difficulty == 'Easy' %}
                                <h3>Skill level: Beginner</h3>
                            {% endif %}
                            {% if recipe.difficulty == 'More effort' %}
                                <h3>Skill level: Intermediate</h3>
                            {% endif %}
                            {% if recipe.difficulty == 'A challenge' %}
                                <h3>Skill level: Advanced</h3>
                            {% endif %}
                        {% endif %}

                        <div>
                            {% for tag in recipe.restrictions %}
                                <button class="tight-wrap-button">{{ tag }}</button>
                            {% endfor %}
                        </div>
                        <h3>Ingredient List</h3>
                        <ul>
                            {% for ingredient in recipe.actual_ingredients %}
                                <li>{{ ingredient }}</li>
                            {% endfor %}
                        </ul>

                        <h3>Matched Ingredients</h3>
                        <ul>
                            {% for ingredient in recipe.matching_ingredients %}
                                <li>{{ ingredient }}</li>
                            {% endfor %}
                        </ul>

                        {% if recipe.unmatching_ingredients %}
                            <h3>Unmatched Ingredients</h3>
                            <ul>
                                {% for ingredient in recipe.unmatching_ingredients %}
                                    <li>{{ ingredient }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    
                        <div class="modal-footer">
                            <button style="font-size:14px; padding: 8px 16px;" onMouseOver="this.style.backgroundColor='#F2CBBE'" onMouseOut="this.style.backgroundColor='#f3d9c6'" onclick="closeModal('modal{{ loop.index }}')">Close</button>
                            <form id="wishlistForm{{ loop.index }}" onsubmit="addToWishlist(event)" method="post">
                                <input type="hidden" name="recipe_id" value="{{ recipe._id }}">
                                <button style="font-size:14px; padding: 8px 16px;" onMouseOver="this.style.backgroundColor='#F2CBBE'" onMouseOut="this.style.backgroundColor='#f3d9c6'">Add to Wishlist</button>
                            </form>
                            <button style="font-size: 14px; padding: 8px 16px;" onMouseOver="this.style.backgroundColor='#F2CBBE'" onMouseOut="this.style.backgroundColor='#f3d9c6'" onclick="window.location.href='/recipe_page?recipe={{recipe._id}}'">Go to Recipe</button>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>
    <div class="pagination">
        {{ pagination.links }}
    </div>

    <script>
        document.getElementById("wishlistStar").addEventListener("click", function(event){
            console.log("here")
            
            var cls=document.getElementById("wishlistStar").className;
        if(cls.includes("unchecked"))
        {
            console.log("here")
            document.getElementById("wishlistStar").classList.remove("unchecked");
            document.getElementById("wishlistStar").classList.add("checked");
            console.log("UNCHECKED")
        }
        else
        {
            document.getElementById("wishlistStar").classList.remove("checked"); 
            document.getElementById("wishlistStar").classList.add("unchecked");
            console.log("CHECKED")
        }
        });


        function openModal(modalId) {
            document.getElementById(modalId).style.display = 'block';
        }

        function closeModal(modalId) {
            document.getElementById(modalId).style.display = 'none';
        }

        function addToWishlist(event) {
            event.preventDefault(); 
            event.stopPropagation();

            const form = event.target;
            const formData = new FormData(form);

            const request = new XMLHttpRequest();
            request.open("POST", "/add_to_wishlist", true);

            request.onload = function() {
                if (request.status === 200) {
                    const parser = new DOMParser();
                    const doc = parser.parseFromString(request.responseText, "text/html");
                    const duplicate = doc.getElementById("already-in-wishlist");

                    if (duplicate) {
                        alert("This recipe is already in your wishlist!");
                    } else {
                        alert("Recipe added to your wishlist!");
                    }
                } else {
                    alert("Failed to add recipe to wishlist. Please try again.");
                }
            };

            request.onerror = function() {
                alert("An error occurred. Please check your network connection.");
            };

            request.send(formData);
        }

        
        window.onclick = function(event) {
            const modals = document.getElementsByClassName('modal');
            for (let i = 0; i < modals.length; i++) {
                if (event.target === modals[i]) {
                    modals[i].style.display = 'none'; // Close the modal
                }
            }
            if (!event.target.matches('.drop-button')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
            if (!event.target.matches('.drop-profile-button')) {
                var profileDropdowns = document.getElementsByClassName("dropdown-profile-content");
                for (var i = 0; i < profileDropdowns.length; i++) {
                    var openProfileDropdown = profileDropdowns[i];
                    if (openProfileDropdown.classList.contains('show')) {
                        openProfileDropdown.classList.remove('show');
                    }
                }
            }
        }
        
    </script>
</body>
</html>
    
           