<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    {% include 'header.html' %}
    {% if recommended %}
        <h1>Recommended Recipes</h1> 
    {% else %}
        <h1>All Recipes</h1> 
    {% endif %}


    <div class="pantry-summary" style="text-align: center;"></div>
            {% if restrictions %}
                <p style="font-size: 20px; text-align: center;"><strong>Your current dietary restrictions:</strong> 
                    {{ restrictions|join(', ') }}
                </p>
            {% else %}
                <p style="font-size: 20px; text-align: center;">No dietary restrictions.</p>
            {% endif %}
    </div>


    <div class="pantry-summary" style="text-align: center;">
        {% if pantry_items %}
            <p style="font-size: 20px;"><strong>What you have in your pantry:</strong> 
                {{ pantry_items|join(', ') }}
            </p>
        {% else %}
            <p style="font-size: 20px;">No pantry items available.</p>
        {% endif %}
    </div>

    {% if not recommended %}
    <p style = "text-align: center; font-size: medium;">All recipes are displayed. To change your dietary restrictions, please visit your profile!</p>
    {% endif %}


    {% if not recommended %}
        <div class="search-box">
            <form action="/all_recipes" method="get">
                {% if query %}
                <input type="text" id="search-input" name="search" value="{{ query }}">
                {% else %}
                <input type="text" id="search-input" name="search" placeholder="Search for recipes by title..." autocomplete="off">
                {% endif %}
                <button type='submit' onclick="searchRecipes()" class="search-button">Search</button>
            </form>
            <form action="/all_recipes" method="get">
                <button class="submit-button" name="clear" value="True">Clear Search</button>
            </form>
        </div>
    {% endif %}
    
    <button class="filter-button" onclick="openFilterModal()">Filter</button>
    {% if recommended %}
    <form action="/recommended_recipes" method="get">
        <button class="clear-button" name="clear" value="True">Clear Filter</button>
    </form>
    {% else %}
    <form action="/all_recipes" method="get">
        <button class="clear-button" name="clearFilter" value="True">Clear Filter</button>
    </form>

    {% endif %}

    <div class="pantry-summary">
        <p style="font-size: 15px; text-align: center;">Current Filters: {{prev_skill if prev_skill is not none else 'No specified'}} skill level, {{prev_max_time if prev_max_time is not none else 'No specified'}} minutes of availability.</p>
    </div>

    {{ pagination.info }}
    <div class="pagination">
        {{ pagination.links }}
    </div>

    <div id="filterModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeFilterModal()">&times;</span>
            <h2>Filter Options</h2>
            {% if recommended %}
            <form action="/recommended_recipes" method="get">
            {% else %}
            <form action="/all_recipes" method="get">
            {% endif %}
                <label for="skill">Skill Level:</label>
                <select name="skill" id="skill">
                    {% if not prev_skill %}
                    <option value="" selected="selected">--Select--</option>
                    {% else %}
                    <option value="">--Select--</option>
                    {% endif %}
                    {% if prev_skill == 'Beginner' %}
                    <option value="Beginner" selected="selected">Beginner</option>
                    {% else %}
                    <option value="Beginner">Beginner</option>
                    {% endif %}
                    {% if prev_skill == 'Intermediate' %}
                    <option value="Intermediate" selected="selected">Intermediate</option>
                    {% else %}
                    <option value="Intermediate">Intermediate</option>
                    {% endif %}
                    {% if prev_skill == 'Advanced' %}
                    <option value="Advanced" selected="selected">Advanced</option>
                    {% else %}
                    <option value="Advanced">Advanced</option>
                    {% endif %}
                </select>
                <br></br>
                <label for="time">Time (minutes):</label>
                {% if prev_max_time %}
                <input type="number" id="time" name="time" min="0" value="{{ prev_max_time }}">
                {% else %}
                <input type="number" id="time" name="time" min="0" placeholder="Enter max time">
                {% endif %}
                <br></br>
                <button class="submit-button">Apply Filters</button>
                <br></br>
            </form>
        </div>
    </div>
    
    {% if extended_results %}
    <h3 style="text-align: center;">No results for selected difficulty level. Including easier recipes.</h3>
    {% endif %}
    
    <div class="recipes-container">
        <br></br>

        {% for recipe in rpart %}
            
                <span class="inline-box" onclick="openModal('modal{{ loop.index }}')">
                    <h4 class=.recipe-name>{{ recipe.title | safe }}</h4> 

                    <img src="{{recipe.picture_url}}" width="150" height="150">
                    <br></br>

                    {% if recipe.restrictions %}
                        {% for tag in recipe.restrictions %}
                            <button class="tight-wrap-button" align="left">{{tag}}</button>
                        {% endfor %}
                        <br></br>
                    {% endif %}

                    {% if recipe.missing_count == 0 %}
                    <strong>All Good to Go!</strong>
                    {% else %}
                    <strong># Missing Ingredients:</strong> {{recipe.missing_count}}
                    {% endif %}
                    <br></br>
                    
                    <strong>Time needed:</strong> {{recipe.total_time}} minutes
                    <br></br>
                    {% if recipe.servings != "" and recipe.servings == recipe.servings %}
                        <strong>Number of Servings:</strong> {{ recipe.servings }}
                        <br></br>
                    {% elif recipe.makes != "" and recipe.makes == recipe.makes %}
                        <strong>Makes:</strong> {{ recipe.makes }}
                        <br></br>
                    {% endif %}

                    {% if recipe.difficulty in ['Easy', 'More effort', 'A challenge'] %}
                            {% if recipe.difficulty == 'Easy' %}
                                <strong>Skill Level:</strong>  Beginner
                            {% endif %}
                            {% if recipe.difficulty == 'More effort' %}
                                <strong>Skill Level:</strong> Intermediate
                            {% endif %}
                            {% if recipe.difficulty == 'A challenge' %}
                                <strong>Skill Level:</strong>  Advanced
                            {% endif %}
                        <br></br>
                    {% else %}
                    {% endif %}

                    <br></br>
                    <form id="wishlistForm" onsubmit="addToWishlist(event)" method="post" onclick="event.stopPropagation();" class = "wishlist-form">
                        <input type="hidden" name="recipe_id" value="{{ recipe._id }}">
                        <button onclick="event.stopPropagation();" style="font-size:14px; padding: 8px 16px;" onMouseOver="this.style.backgroundColor='#ce8c56'" onMouseOut="this.style.backgroundColor='#f5c39a'">Add to Wishlist </button>
                    </form>
                    
                </span>

                <div id="modal{{ loop.index }}" class="modal">
                    <div class="modal-content">
                        <div class="modal-body">
                        <span class="close" onclick="closeModal('modal{{ loop.index }}')">&times;</span>
                        <h2><a href="/recipe_page?recipe={{recipe._id}}">{{recipe.title | safe}}</a></h2>
                    
                        <a href="/recipe_page?recipe={{recipe._id}}">
                            <img src="{{ recipe.picture_url }}" width="500" height="400" style="display: block; margin: auto;">
                        </a>
                        <br></br>

                        {% if recipe.restrictions %}
                            {% for tag in recipe.restrictions %}
                                <button class="tight-wrap-button">{{ tag }}</button>
                            {% endfor %}
                            <br></br>
                        {% endif %}

                        {% if recipe.missing_count == 0 %}
                            <h3><strong>All Good to Go!</strong></h3>
                        {% else %}
                            <h3><strong># Missing Ingredients: </strong>{{recipe.missing_count}}</h3>
                        {% endif %}

                        <h3><strong>Time needed:</strong> {{ recipe.total_time }} minutes</h3>

                        {% if recipe.servings != "" and recipe.servings == recipe.servings %}
                        <h3><strong>Number of Servings:</strong> {{ recipe.servings }}</h3>
                        {% elif recipe.makes != "" and recipe.makes == recipe.makes %}
                        <h3><strong>Makes:</strong> {{ recipe.makes }}</h3>
                        {% endif %}
                        

                        {% if recipe.difficulty in ['Easy', 'More effort', 'A challenge'] %}
                            {% if recipe.difficulty == 'Easy' %}
                                <h3><strong>Skill Level:</strong>  Beginner</h3>
                            {% endif %}
                            {% if recipe.difficulty == 'More effort' %}
                                <h3><strong>Skill Level:</strong>  Intermediate</h3>
                            {% endif %}
                            {% if recipe.difficulty == 'A challenge' %}
                                <h3><strong>Skill Level:</strong> Advanced</h3>
                            {% endif %}
                        {% endif %}

                
                        <h3>Ingredient List</h3>
                        <ul>
                            {% for ingredient in recipe.actual_ingredients %}
                                <li>{{ ingredient }}</li>
                            {% endfor %}
                        </ul>
                        <h3>Matched Ingredients</h3>
                        <ul>
                            {% for ingredient in recipe.matching_ingredients %}
                                <li>{{ ingredient }}</li>
                            {% endfor %}
                        </ul>

                        {% if recipe.unmatching_ingredients %}
                            <h3>Unmatched Ingredients</h3>
                            <ul>
                                {% for ingredient in recipe.unmatching_ingredients %}
                                    <li>{{ ingredient }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        </div>
                        <div class="modal-footer">
                            <button style="font-size:20px; padding: 8px 16px;" onMouseOver="this.style.backgroundColor='#ce8c56'" onMouseOut="this.style.backgroundColor='#f5c39a'" onclick="closeModal('modal{{ loop.index }}')">Close</button>
                            <form id="wishlistForm{{ loop.index }}" onsubmit="addToWishlist(event)" method="post">
                                <input type="hidden" name="recipe_id" value="{{ recipe._id }}">
                                <button style="font-size:20px; padding: 8px 16px;" onMouseOver="this.style.backgroundColor='#ce8c56'" onMouseOut="this.style.backgroundColor='#f5c39a'">Add to Wishlist</button>
                            </form>
                            <button style="font-size:20px; padding: 8px 16px;" onMouseOver="this.style.backgroundColor='#ce8c56'" onMouseOut="this.style.backgroundColor='#f5c39a'" onclick="window.location.href='/recipe_page?recipe={{recipe._id}}'">Go to Recipe</button>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>
    <div class="pagination">
        {{ pagination.links }}
    </div>

    <script>
        function openModal(modalId) {
            document.getElementById(modalId).style.display = 'block';
            $("body").css('overflow', "hidden");
        }
        
        function openFilterModal() {
            document.getElementById('filterModal').style.display='block';
            $("body").css('overflow', "hidden");
        }

        function closeFilterModal() {
            document.getElementById('filterModal').style.display='none';
            $("body").css('overflow', "auto");
        }

        function closeModal(modalId) {
            document.getElementById(modalId).style.display = 'none';
            $("body").css('overflow', "auto");
        }

        function addToWishlist(event) {
            event.preventDefault(); 
            event.stopPropagation();

            const form = event.target;
            const formData = new FormData(form);

            const request = new XMLHttpRequest();
            request.open("POST", "/wishlist", true);

            request.onload = function() {
                if (request.status === 200) {
                    const parser = new DOMParser();
                    const doc = parser.parseFromString(request.responseText, "text/html");
                    const duplicate = doc.getElementById("already-in-wishlist");

                    if (duplicate) {
                        alert("This recipe is already in your wishlist!");
                    } else {
                        alert("Recipe added to your wishlist!");
                    }
                } else {
                    alert("Failed to add recipe to wishlist. Please try again.");
                }
            };

            request.onerror = function() {
                alert("An error occurred. Please check your network connection.");
            };

            request.send(formData);
        }

        
        window.onclick = function(event) {

            const modals = document.getElementsByClassName('modal');
            for (let i = 0; i < modals.length; i++) {
                if (event.target === modals[i]) {
                    modals[i].style.display = 'none'; // Close the modal
                    $("body").css('overflow', "auto");
                }
            }
            if (!event.target.matches('.drop-button')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
            if (!event.target.matches('.drop-profile-button')) {
                var profileDropdowns = document.getElementsByClassName("dropdown-profile-content");
                for (var i = 0; i < profileDropdowns.length; i++) {
                    var openProfileDropdown = profileDropdowns[i];
                    if (openProfileDropdown.classList.contains('show')) {
                        openProfileDropdown.classList.remove('show');
                    }
                }
            }
        }
        
    </script>
</body>
</html>
    
           