<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="static/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if create_account: %}
    <hr>
        <form action="/manage_account" method="get">
            <table>
                <tbody>
                    <tr>
                        <td align="right">Username:</td>
                        <td><input type="text" name="new_username" autofocus></td>
                    </tr>
                    <tr>
                        <td align="right">Password:</td>
                        <td><input type="password" name="new_password" autofocus></td>
                    </tr>
                </tbody>
                <tr>
                    <td> </td>
                    <td><input type="hidden" name="create" value="true"></td>
                    <td><input type="submit" id="submitButton" value="Go"></td>
                </tr>
            </table>
        </form>
     <hr>
     {% else %}
     <hr>
        <form action="/manage_account" method="get">
            <table>
                <tbody>
                    <tr>
                        <td align="right">Username:</td>
                        <td><input type="text" name="username" autofocus></td>
                    </tr>
                    <tr>
                        <td align="right">Password:</td>
                        <td><input type="password" name="password" autofocus></td>
                    </tr>
                </tbody>
                <tr>
                    <td> </td>
                    <td><input type="hidden" name="create" value="false"></td>
                    <td><input type="submit" id="submitButton" value="Go"></td>
                </tr>
            </table>
        </form>

        <form method="POST" action="{{ url_for('login')}}">
            <button type="submit">Login with Google</button>
        </form>
     <hr>
     
    {% endif %}

</head>
</html>