
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/landing.css">
    </head>
    <body>
    <div class="blurb-container">
            <h1>Pantry 2 Plate</h1>
            <h2>
                Welcome {{name}}! Pantry 2 Plate is a customized recipe recommender built so that you don't have to fret about finding recipes to make with 
                only the ingredients you have on hand! 
            </h2>
            <h3>
                Please start by either navigating to your Profile and setting your dietary restrictions, or going directly to Pantry to add items :D
            </h3>
        
        <br></br>
        <div class="button-container">
            <button action="/profile_page" class="button">Profile</button>
            <button action="/pantry_page" class="button">Pantry</button>
            <button action="/all_recipes" class="button">All recipes</button>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function(){
            $('h1').css({ 'width':'100%', 'text-align':'center' });
            var h1 = $('h1').height();
            var h = h1/2;
            var w1 = $(window).height();
            var w = w1/2;
            var m = w - h
            $('h1').css("margin-top",m + "px")
        });
    </script>

    </body>
</html>
