
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/landing.css">
        <img class="logo" src="static/logo.png" alt="logo">
    </head>
    <body>
    <div class="blurb-container">
            <h1>Pantry 2 Plate</h1>
            <h2>
                Welcome {{name}}! <br></br> Pantry 2 Plate offers customized recommendations based on what you have in your pantry, so that you don't have to fret about finding recipes that you can make with 
                only the ingredients you have on hand! 
            </h2>
            <h3>
                Please start by either navigating to your Profile and setting your dietary restrictions, or you can go directly to Pantry to stock it with your items! :D
            </h3>
        
        <br></br>
        <div class="button-container">
            <form action="/profile_page">
                <button class="button">Profile</button>
            </form>
            <form action="/pantry">
                <button class="button">Pantry</button>
            </form>
            <form action="/all_recipes">
                <button class="button">All recipes</button>
            </form>
        </div>

    </div>
    <img class="background bottom-left" src="static/background-design.png" alt="background">
    <img class="background top-right" src="static/background-design.png" alt="background">

    </body>
</html>
