body {
    background-color: #C1C265;
  }
  
h1 {
    color: #315E26;
    margin-left: 20px;
}

#SearchBox {
    width: 100%;
    font-size: 18px;
    padding: 11px;
    border: 1px solid #35c182;
}
  
/* Style the navigation menu */
#Ingredients {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Style the navigation links */
#Ingredients li a {
    padding: 12px;
    text-decoration: none;
    color: rgb(231, 26, 26);
    display: block
}